#title {
  background-color: #f1d4b3;
}

.container-fluid {
  padding: 3% 15% 11%;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 300%;
  line-height: 1.5;
  color: #180909;
  font-weight: bolder;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Navigation-Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 30px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: aqua;
}



/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #e4d961;
  color: #514f4f;
}

.testimonial-img {
  align-items: center;
  width: 100%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 5% 10%;
}

/* Pricing section */
#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

/* Title Image */
.title-img {
  width: 30%;
  top: 9rem;
  right: 15%;
  transform: rotate(25deg);
  position: absolute;
}

#features {
  background-color: #fff;
  text-align: center;
  padding: 5rem;
  position: relative;
}