#title {
  background-color: #f1d4b3;
}

.container-fluid {
  padding: 3% 15% 11%;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-size: 300%;
  line-height: 1.5;
  color: #180909;
  font-weight: bolder;
  font-family: 'Amaranth', sans-serif;
  letter-spacing: 5px;
  text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Navigation-Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 30px;

}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: aqua;
}
.cv{
  width: 40%;
  padding-left: 0%;
}



/* Testimonial Section */
#testimonials {
  text-align: center;
  color: #514f4f;
}

.testimonial-img {
  align-items: center;
  width: 100%;
  height: 100%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {}

/* Pricing section */
#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

/* Title Image */
.title-img {
  width: 30%;
  top: 9rem;
  right: 15%;
  transform: rotate(25deg);
  position: absolute;
}

#features {
  background-color: #fff;
  text-align: center;
  padding: 5rem;
  position: relative;
}

/* about us */

.row {
  background-color: #f1d4b3;
  padding-top: 3rem;
  padding-left: 50px;
  padding-right: 50px;
}

h3 {
  padding-top: 5%;
  font-family: 'Archivo', sans-serif;
  text-align: center;
}

.product {
  padding-top: 3rem;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10%;
}

#aboutus {
  background-color: #f1d4b3;
  text-align: center;
  ;
}


.machine {
  padding-top: 5%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 3rem;
}
#products{
  background-color: #f1d4b3;
  text-align: center;
}

.pp{
  width: 70%;
  padding-top: 5%;

}

.tm{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7%;
}
.ml{
  width: 100%;

}
#strenghts{
}
div{
  text-align: right;
}
.com{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-family: 'Archivo', sans-serif;
}
.cv{
  float: left;
}

p{
  text-align: center;
}

#contact{
  background-color: rgb(208, 251, 255);
}
.m{
  letter-spacing: 2px;
}
p{
  letter-spacing: 1px;
}

#values{
  background-color: #f1d4b3;
  padding-bottom: 10%;
}